<div class="col-md-10">
  <h3 class="col text-center">
    <%= link_to "", user_path(@user, current_month: current_month.prev_month.to_s), class:"btn glyphicon glyphicon-chevron-left" %>
    <span><%= current_month.year %>年<%= current_month.month %>月</span>
    <%= link_to "", user_path(@user, current_month: current_month.next_month.to_s), class:"btn glyphicon glyphicon-chevron-right" %>
  </h3>
  <table class="table">
   <thead class="thead-lignt">
      <tr>
        <% [ "月", "火", "水", "木", "金", "土", "日" ].each do |wday| %>
          <th class="thead-header"><%= wday %></th>
        <% end %>
      </tr>
    </thead>
    <% set_today %>
    <% 6.times do |cell_row| %>
      <tr>
        <% 7.times do |cell_col| %>
          <% cell_day = @first_day_of_month.since((cell_row * 7 + cell_col).days) %>
          <td class="<%= cell_day_class(cell_day) %>">
            <div class="cell cell_header"><%= cell_day.day %></div>
          </td>
        <% end %>
      </tr>
      <% cell_row_length(cell_row).times do |child_cell| %>
        <tr class="none-border">
          <% cell_col = 0 %>
          <% while cell_col < 7 %>
            <% cell_day = cell_row * 7 + cell_col %>
            <td colspan="<%= @schedule_ids[cell_day][child_cell]&.[](:length) || '1' %>"
                class="none-border none-padding">
              <%= link_to edit_schedule_path(@schedule_ids[cell_day][child_cell]&.[](:id).to_i) do %>
                <span class="<%= cell_class(@schedule_ids[cell_day][child_cell]&.[](:status)) %>">
                  <%= @schedule_ids[cell_day][child_cell]&.[](:name) || '' %>
                  <%= @schedule_ids[cell_day][child_cell]&.[](:business) || '' %>
                </span>
              <% end %>
            </td>
            <% cell_col += @schedule_ids[cell_day][child_cell]&.[](:length) || 1 %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>