<nav class="col-md-2 hidden-sm hidden-xs sidebar">
  <button type="button" class="btn btn-success glyphicon glyphicon-plus sidebar-creates">
    予定を追加
  </button>
  <button type="button" class="btn btn-success glyphicon glyphicon-plus sidebar-creates" data-toggle="modal" data-target="#businessModal">
    企業を追加
  </button>

  <ul class="nav nav-pills nav-stacked side-business">
    <li role="presentation" class="<%= 'active' if params[:current_page] != "business" %>">
      <%= link_to "カレンダー", user_path(@user, current_page: "calendar", current_month: params[:current_month]) %>
    </li>
    <li role="presentation" class="<%= 'active' if params[:current_page] == "business" %>">
      <%= link_to "企業管理", user_path(@user, current_page: "business", current_month: params[:current_month]) %>
    </li>
  </ul>
</nav>

<%= render 'businesses/modal_create-business' %>