<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-center"><%= @schedule.name %></h3>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @schedule do |f| %>
        <div class="panel-body">
          <%= render 'shared/error_messages', object: f.object %>
          
          <div class="form-group row">
            <%= f.label :name, "予定(必須):", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: "form-control", placeholder:"予定(必須)", value: @schedule.name %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :business_id, "企業:", class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <div id="select_business_id"><%= f.text_field :business_id, class: "form-control hidden", placeholder:"企業", value: @schedule.business_id || '' %></div>
              <div id="select_business_name"><%= Business.find(@schedule.business_id)&.name || '' %></div>
              <button type="button" class="btn btn-success glyphicon glyphicon-chevron-down"  data-toggle="collapse" data-target="#businessCollapse" aria-expanded="false" aria-controls="businessCollapse">
                企業を選択
              </button>
              <div class="collapse" id="businessCollapse">
                <div class="card card-body">
                  <% @businesses.each do |business| %>
                    <% if business != @business %>
                      <button>
                        <%= link_to business.name, ajax_select_business_path(params: { id: business.id }), method: :post, remote: true %>
                      </button>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group row">
            <%= f.label :status, "状況:", class: "col-sm-2 control-label", value: @schedule.status %>
            <div class="col-sm-10">
              <div class="radio-inline">
                <%= f.radio_button :status, 0 %>
                <label><%= text_status(0) %></label>
              </div>
              <div class="radio-inline">
                <%= f.radio_button :status, 1 %>
                <label><%= text_status(1) %></label>
              </div>
              <div class="radio-inline">
                <%= f.radio_button :status, 2, checked: true %>
                <label><%= text_status(2) %></label>
              </div>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-2">
              <%= f.label :first_day, "予定日(必須):" %>
            </div>
            <div class="col-sm-8">
              <%= f.datetime_select :first_date, class: 'form-control', value: @schedule.first_date %>
              <%= f.datetime_select :last_date,  class: 'form-control', value: @schedule.last_date %>
            </div>
          </div>
          
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-left">
            <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#deleteModal">削除</button>
          </div>
          <div class="pull-right">
            <%= f.submit "更新", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'schedules/modal_delete_schedule_alert' %>
