<header class="navbar navbar-inverse navbar-fixed-top">
  <div class='container'>
    <h1>
      <%= link_to "就活カレンダー", root_path, id: "logo", class: "glyphicon glyphicon-calendar" %>
    </h1>
    <div class="btn-group dropdown menu-button">
      <button class="btn dropdown-toggle background-dark" type="button" id="menu-button" data-toggle="dropdown"
                                                          aria-haspopup="true" aria-expanded="false">
        <%= render 'layouts/hamburger-icon' %>
	    </button>
      <ul class="dropdown-menu dropdown-menu-right background-dark" aria-labelledby="menu-button">
        <% if logged_in? %>
          <li><%= link_to "カレンダー", user_path(current_user, current_page: "calendar", current_month: params[:current_month]) %></li>
          <li><%= link_to "企業管理", user_path(current_user, current_page: "business", current_month: params[:current_month]) %></li>
          <li class="divider"></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", root_path %></li>
          <li><%= link_to "アカウント登録", signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
